<div class="container">
    <div class="row">
      <div class="col-md-8 order-md-1"><h4 class="mb-3">Adding a catagory</h4>
        <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="New-catagory">New catagory name</label>
            <input type="text" class="form-control" id="New-catagory" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid New catagory is required.
            </div>
          </div>
        </div>
        
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to add the catagory</button>
        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>