/* .example-icon {
  padding: 0 14px;
}
#buttonsBar a , #myAccountButton a{
  text-decoration: none;
  color: white;
}
.allB{
  position: center;
  flex-wrap:  wrap-reverse;
}

#buttonsBar button{
  right: 250%;
}

.example-spacer {
  flex: 1 1 auto;
} */

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;;
  text-align: center;
} */